language: java
dist: trusty
sudo: required
jdk:
  - oraclejdk8
services:
  - postgresql
addons:
  postgresql: "9.4"
  sonarcloud:
    organization: "rfernandon-github"
    token:
      secure: "${SONAR_TOKEN}"
cache:                                                                          
  directories:                                                                  
    - $HOME/.m2
before_script:
  - psql -c "CREATE DATABASE areacomum;" -U postgres
  - psql -c "CREATE USER sgsc WITH PASSWORD 'sgsg';" -U postgres
script:
  # The following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
deploy:
  provider: heroku
  api_key:
    secure: "${HEROKU_TOKEN}"
  # By default, we will try to deploy to an application by the same name as the repository. You can explicitly set the name via the app option:
  app: area-comum-api
