language: java
dist: trusty
sudo: required
jdk:
  - oraclejdk8
services:
  - postgresql
addons:
  postgresql: "9.4"
  sonarcloud:
    organization: "rfernandon-github"
    token:
      secure: "${SONAR_TOKEN}"
cache:
  directories:
    - $HOME/.m2
before_script:
  - psql -c "CREATE DATABASE areacomum;" -U postgres
  - psql -c "CREATE USER sgsc WITH PASSWORD 'sgsg';" -U postgres
jobs:
  include:
    - stage: "Build"
      name: "Executando o build da aplicação junto com os testes"
      script: mvn clean install
      
    - stage: "Checando a cobertura"
      name: "Executando o build da aplicação junto com os testes"
      script: mvn clean cobertura:check sonar:sonar
      
#    - stage: "Quality Gate"
#      name: "Publicando as métricas no SonarCloud"
#      script: mvn org.jacoco:jacoco-maven-plugin:prepare-agent sonar:sonar
      
    - stage: "Deploy"
      name: "Publicando o artefato no Heroku"
      if: branch = master
      script: skip # usually you do not want to rerun any tests
      deploy:
        provider: heroku
        api_key:
          secure: "${HEROKU_TOKEN}"
        app: area-comum-api
